@font-face {
  font-family: "iconfont"; /* Project id 4850202 */
  src: url('/static/iconfont.woff2?t=1741338018654') format('woff2'),
       url('/static/iconfont.woff?t=1741338018654') format('woff'),
       url('/static/iconfont.ttf?t=1741338018654') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-full:before {
  content: "\e826";
}

.icon-message-comments:before {
  content: "\e82e";
}

.icon-down:before {
  content: "\e839";
}

.icon-delete:before {
  content: "\e83a";
}

.icon-search:before {
  content: "\e840";
}

.icon-up:before {
  content: "\e845";
}

